* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared style  */
.green-btn {
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.green-btn:hover {
    color: #469165;
    background-color: #FFFFFF;
    border: 2px solid #469165;
}

.card {
    max-width: 322px;
    height: 300px;
    padding: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    /* border: 2px solid red; */
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 15px #469165a2;
}

.card:hover img {
    background-color: #469165;
}

.card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 7px;
    transition: all 0.3s ease;
}

/* main style  */

/* navbar */
#navbar {
    max-width: 1360px;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

/* hero section  */
#hero-section {
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1600px;
    max-height: 674px; */
    margin: 0 auto;
}

.hero-container {
    margin: 0 auto;
    /* padding: 115px auto 179px; */
    max-width: 1360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-access-btn {
    margin-top: 115px;
    color: #469165;
    background-color: #FFFFFF;
    font-weight: 500;
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: transform 0.3s ease;
    margin-bottom: 16px;
}

.hero-access-btn:hover {
    transform: scale(1.1);
}

.hero-container h1 {
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero-container h1 span {
    color: #469165;
}

.hero-container p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 35px;
    text-align: center;
    margin-bottom: 32px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 179px;
}

.vault-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.vault-btn:hover img {
    background-color: #469165;
    border-radius: 50%;
}

.play-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}

.play-btn:hover {
    background-color: #469165;
    border: 2px solid #469165;
}

.play-btn img {
    transition: transform 0.3s ease;
}

.play-btn:hover img {
    transform: rotate(60deg);
}

/* note section  */
#note-container {
    padding-top: 70px;
    background-color: #fbfbfb;
}

.note-section {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #fbfbfb;

}

.note-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.note-section p {
    line-height: 20px;
    color: #627382;
}

.note-cards {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.note-cards h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #001931;
    text-transform: capitalize;
}

/* solution section  */

#solution-section {
    background-color: white;
    width: 100%;
}

.solution-container {
    max-width: 1360px;
    margin: 120px auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution-container h5 {
    color: #469165;
    line-height: 20px;
    font-weight: 500;
}

.solution-container h1 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
}

.solution-container h5,
.solution-container h1 {
    margin-bottom: 16px;
}

.solution-container p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.solution-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.solution-list h2 {
    color: #001931;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Think container  */
#think-section {
    margin: 0 auto 120px;
    width: 1600px;
}

.think-container {
    width: 1360px;
    margin: 0 auto;
    padding: 80px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F7F6F2;
    border-radius: 12px;
}

.think-container h1 {
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.think-container p {
    color: #627382;
    line-height: 24px;

}

.think-container .green-btn {
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.think-container .green-btn:hover img {
    background-color: #469165;
    border-radius: 50%;
}